{% extends "site_base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block extrastyle %}
	<link href="{% static 'css/brand.css' %}" type="text/css"  rel="stylesheet"/>
{% endblock %}

{% block container %}
<div class="brand_wrapper col-xs-12">
  <!-- Carousel -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for brand in brands %}
					{% if forloop.counter0 %}
						<div class="item active" style="background-image: url('{{ brand.image.url }}');">
					{% else %}
						<div class="item" style="background-image: url('{{ brand.image.url }}');">
					{% endif %}
						<div class="text">
							<div class="ttl">{{ brand.name }}</div>
							<div class="desc">{{ brand.desc|safe }}</div>
						</div>
					</div>
			{% endfor %}
		</div>
	</div>
	<!-- /.carousel -->
	{% if brands|length > 1 %}
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<img src="{% static 'img/index/arrow_l.png' %}">
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="prev">
			<img src="{% static 'img/index/arrow_r.png' %}">
		</a>
	{% endif %}
</div>
{% endblock container %}
