header {
  position: relative;
  z-index: 1001;
}
header menu > li > ul {
  display: none;
  position: absolute;
  left: -50px;
  top: 20px;
  width: 230px;
  padding: 20px;
  background: #100500;
}
header menu > li > ul li {
  width: 100%;
  text-align: left !important;
  margin: 5px 0;
}
header menu > li > ul li span.ttl {
  color: #fff;
  font-size: 17px;
}
@media (max-width: 1200px) {
  header menu > li > ul li span.ttl {
    font-size: 13px;
  }
}
header menu > li > ul li ul {
  margin-left: 10px;
}
header menu > li:hover,
header menu > li.active {
  cursor: pointer;
}
header menu > li:hover ul,
header menu > li.active ul {
  display: block;
}
header menu > li span {
  color: #ffffff;
  font-family: 'Scada', sans-serif;
  font-size: 14px;
}
@media (max-width: 1200px) {
  header menu > li span {
    font-size: 11px;
  }
}
.container-fluid {
  padding: 0;
}
.container-fluid.header_base {
  background: #100500;
}
.container-fluid.header_base .logo {
  text-align: center;
}
.container-fluid.header_base .logo a {
  display: inline-block;
  height: 31px;
  position: relative;
  margin: 12px 0;
}
.container-fluid.header_base .logo a img {
  height: 100%;
}
@media (max-width: 1200px) {
  .container-fluid.header_base .col-sm-7 {
    width: 64%;
  }
}
.container-fluid.header_base menu {
  margin-top: 17px;
  margin-bottom: 17px;
  list-style: none;
}
.container-fluid.header_base menu > li {
  position: relative;
  float: left;
  margin: 0 3%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.container-fluid.header_base menu > li a {
  color: #ffffff;
  font-family: 'Scada', sans-serif;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .container-fluid.header_base menu > li a {
    font-size: 11px;
  }
}
.container-fluid.header_base menu > li a:hover {
  color: #e3c68f;
}
@media (min-width: 1200px) {
  .container-fluid.header_base .service {
    padding: 0 55px;
  }
}
@media (min-width: 1600px) {
  .container-fluid.header_base .service {
    padding: 0 95px;
  }
}
.container-fluid.header_base .service > div {
  position: relative;
  height: 56px;
  padding: 0;
  text-align: center;
}
.container-fluid.header_base .service .search_btn .search_form {
  display: none;
  position: absolute;
  right: -90px;
  top: 15px;
  width: 200px;
  padding-top: 30px;
  color: #000;
  text-align: left;
  border: 1px solid #100500;
  border-top: 0;
}
.container-fluid.header_base .service .search_btn .search_form .inner {
  padding: 10px;
  background: #fff;
}
.container-fluid.header_base .service .search_btn .search_form input {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 5px;
}
.container-fluid.header_base .service .search_btn .search_form button {
  width: 100px;
  padding: 7px 0 4px 0;
  color: #343433;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffe8bf;
  border: 0px;
}
.container-fluid.header_base .service .search_btn:hover .search_form {
  display: block;
}
.container-fluid.header_base .service a {
  position: absolute;
  left: 50%;
  top: 15px;
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-left: -19px;
}
.container-fluid.header_base .service a img {
  height: 100%;
}
.container-fluid.header_base .service a.basket_btn .cart_list {
  display: none;
  position: absolute;
  right: -50px;
  top: 11px;
  width: 300px;
  padding-top: 30px;
  color: #000;
  text-align: left;
  border: 1px solid #100500;
  border-top: 0;
}
.container-fluid.header_base .service a.basket_btn .cart_list ul {
  margin-bottom: 0;
  padding: 10px 20px;
  background: #fff;
}
.container-fluid.header_base .service a.basket_btn .cart_list ul li {
  margin-bottom: 10px;
}
.container-fluid.header_base .service a.basket_btn .cart_list ul li span {
  padding: 0;
}
.container-fluid.header_base .service a.basket_btn .cart_list ul li span.img,
.container-fluid.header_base .service a.basket_btn .cart_list ul li span.img {
  padding-right: 10px;
}
.container-fluid.header_base .service a.basket_btn .cart_list ul li.price {
  margin-top: 10px;
}
.container-fluid.header_base .service a.basket_btn:hover .cart_list,
.container-fluid.header_base .service a.basket_btn.active .cart_list {
  display: block;
}
.container-fluid.header_base .service a .prod_amount {
  position: absolute;
  right: -11px;
  top: -7px;
  display: inline-block;
  width: 16px;
  height: 16px;
  color: #ffffff;
  font-size: 12px;
  background: #eabd67;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.header_base menu:after,
.cart_list li:after {
  content: '.';
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
