{% load staticfiles %}

<footer class="container-fluid footer">
	<div class="col-sm-8">
		<menu>
			<li>
				<a href="/shop/">Online Магазин</a>
			</li>
			<li>
				<a href="/delivery/">Уcловия доставки</a>
			</li>
			<li>
				<a href="/payment/">Условия оплаты и возврата</a>
			</li>
		</menu>
		<div class="copyright">
			&copy; 2014 VIGIO. ALL RIGHTS RESERVED.
		</div>
	</div>

	<div class="col-sm-4">
		<ul class="soc_icons">
			<li>
				<a href="http://instagram.com/" target="_blank"><img src="{% static 'img/soc_icons/footer_insta.png' %}" /></a>
			</li>
			<li>
				<a href="https://www.facebook.com/groups/vigio/" target="_blank"><img src="{% static 'img/soc_icons/footer_fb.png' %}" /></a>
			</li>
			<li>
				<a href="https://vk.com/v_i_g_i_o" target="_blank"><img src="{% static 'img/soc_icons/footer_vk.png' %}" /></a>
			</li>
		</ul>
	</div>
</footer>